[submodule "Pointcept"]
	path = Pointcept
	url = https://github.com/hchautran/Pointcept.git 
[submodule "DataGenerator"]
	path = DataGenerator
	url = https://github.com/ChenYutongTHU/SplatFormer_DataGenerator.git
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
